<div class="question-container">
    <mat-card *ngFor="let question of baseQuestions; let i = index" class="question-card">
      <mat-card-header>
        <mat-card-title>Question {{ question.Id }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="question-row">
          <!-- English Column -->
          <div class="question-column" *ngIf="questionsSubject.length > 0">
            <p>{{ questionsSubject[i].question }}</p>
            <mat-list>
              <mat-list-item *ngFor="let option of questionsSubject[i].options; let k = index" 
                  [ngClass]="getCorrectAnswerClass(i, k)">
                {{option}}
              </mat-list-item>
            </mat-list>
          </div>
  
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  