/* Add styling for the app-navbar (assuming it has a fixed height) */
app-navbar {
    height: 50px; /* Adjust the height as needed */
    background-color: #3498db; /* Example background color for the navbar (adjust as needed) */
    color: #fff; /* Text color for the navbar (adjust as needed) */
}

/* Add styling for the main container */
.container {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center;
    flex-direction: column; /* Stack items vertically */
    height: 100vh; /* Optional: Set the container height to 100% of the viewport height */
}

/* Add styling for the subject list */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Add styling for each list item */
li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px; /* Increased margin between list items */
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}


.subject-list{
    padding-right: 20px;
}


.subject-buttons button {
    padding-left: 5px;
    padding-right: 5px;
    background-color: #3498db; /* Example background color (adjust as needed) */
    color: #fff; /* Text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
   
    margin-right: 10px; /* Add margin between buttons */
 
}

.subject-buttons button:hover {
    background-color: #2980b9; /* Darker color on hover (adjust as needed) */
   
}


li{
  
}